@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500;600&display=swap');

:root {
    --rosa_intenso: rgb(255, 7, 110);
    --black: #000000;
    --light-color: #666;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    --rosa: #F8EFEAFF;
    --morado: #4A2C59FF;
    --verde: #0EAA0EFF;
    --verde_claro: #8df900c0;

}

@keyframes tambaleo {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px) rotate(-2deg);
    }

    75% {
        transform: translateX(5px) rotate(2deg);
    }

    100% {
        transform: translateX(0);
    }
}

* {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background: #F8EFEAFF;
}

.Inicio,
.Especialistas,
.Recetas,
.Precio{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

section:nth-child(even) {
    background: var(--rosa);
}

.titulo_recetas {
    text-align: center;
    color: var(--verde);
    font-size: 30px;
    text-transform: uppercase;
    padding: 0;
}

.titulo_herramientas {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.btn_comienza {
    margin-top: 3rem;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background: var(--rosa_intenso);
    border-radius: 5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    margin-left: 200px;
}

.btn_comienza:hover {
    color: var(--rosa_intenso);
    background: #fff;
    border: 1px solid var(--rosa_intenso);
    letter-spacing: .1rem;
}

.btn_especialista {
    margin-top: 1rem;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background: var(--rosa_intenso);
    border-radius: 5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn_especialista:hover {
    color: var(--rosa_intenso);
    background: #fff;
    border: 1px solid var(--rosa_intenso);
    letter-spacing: .1rem;
}

.btn_recetas {
    display: inline-flex;
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
    background: var(--rosa_intenso);
    border-radius: 5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn_recetas:hover {
    color: var(--rosa_intenso);
    background: #fff;
    border: 1px solid var(--rosa_intenso);
    letter-spacing: .1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #F8EFEAFF;
    padding: 1rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo img {
    width: 50px;
    cursor: pointer;
    margin: 0;
}

header .navegador {
    margin-left: 400px;
    margin-top: 30px;
}

header .navegador a {
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navegador a.activo,
header .navegador a:hover {
    color: var(--rosa_intenso);
    border-bottom: 3px solid var(--rosa_intenso);
    display: inline-block;
    padding-bottom: 20px;
}

header .btn_inicio {
    font-size: 15px;
    font-weight: 400;
    color: var(--rosa_intenso);
    padding: .5rem 1.5rem;
    border-radius: 21px;
    background: #fff;
    border: 1px solid var(--rosa_intenso);
    width: 170px;
}

header .btn_inicio:hover {
    color: #fff;
    background: var(--rosa_intenso);
}

header .icono i {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #000000;
    border-radius: 50%;
    background: #ffd6ee65;
}

header .icono i:hover {
    color: #fff;
    background: var(--rosa_intenso);
    transform: rotate(360deg);
}

header .icono #Menu {
    display: none;
}

.Inicio .inicio-slider .slider {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 4rem;
}

.Inicio .inicio-slider .slider .content {
    flex: 1 1 45rem;
}

.Inicio .inicio-slider .slider .imagen img {
    width: 100%;
    height: auto;
}

.Inicio .inicio-slider .slider .content h3 {
    color: var(--verde);
    font-size: 4.5rem;
}

.Inicio .inicio-slider .slider .content p{
    color: var(--light-color);
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 1.5;

}

.Inicio .inicio-slider .slider .content span {
    color: var(--black);
    font-size: 2.5rem;
}

.swiper-pagination-bullet-active {
    background: var(--rosa_intenso);
}

.ventajas {
    margin: auto;
    padding: 50px 0;
    height: 20vh;
    background: #F4E5D5FF;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.ventajas .items {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.ventajas .items .ventajas-container {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.ventajas .items .ventajas-container:hover {
    transform: scale(1.1);
}

.ventajas .items .ventajas-container img {
    display: block;
    margin: 0 auto;
}

.ventajas .items .ventajas-container .n-ventaja {
    margin-bottom: 7px;
}

.Especialistas .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.Especialistas .row .image {
    flex: 1 1 45rem;
}

.Especialistas .row .image img {
    width: 100%;
}

.Especialistas .row .contenido {
    flex: 1 1 45rem;
}

.Especialistas .row .contenido h3 {
    color: var(--morado);
    font-size: 3rem;
    padding: 5rem 0;
}

.Especialistas .row .contenido p {
    color: #000000;
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 1;
}

.Especialistas .row .contenido .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 5rem;
    margin-top: .5rem;
}

.Especialistas .row .contenido .icons-container .icons {
    cursor: pointer;
}

.Especialistas .row .contenido .icons-container .icons:hover {
    transform: scale(1.2);
}

.Especialistas .row .contenido .icons-container .icons img {
    width: 80%;
    transition: transform 0.3s ease;
}

.Herramientas {
    padding-top: 4rem;
    margin: auto;
    padding: 60px 0;
    height: 50vh;
    background-image: linear-gradient(to top, rgba(75, 59, 68, 0.527) 0%, rgba(54, 42, 51, 0.5) 100%), url(../image/liston2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

.Herramientas .items {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.Herramientas .items .item-container {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    background: var(--verde_claro);
    border-radius: 50%;
    padding: 4rem 4rem;
    transition: transform 0.3s ease;
}

.Herramientas .items .item-container:hover {
    transform: scale(1.1);
}

.Herramientas .items .item-container img {
    display: block;
    margin: 0 auto;
}

.Herramientas .items .item-container .n-item {
    margin-bottom: 7px;
}

.Recetas .objetos {
    text-align: center;
}

.Recetas .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
    margin-top: 20px;
}

.Recetas .box-container .box {
    padding: .5rem;
    background: #fff;
    border-radius: .5rem;
    border: 1rem sollid rgba(0, 0, 0, 0.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 320px;
    width: 250px;

}

.Recetas .box-container .box img {
    height: 200px;
    width: 240px;
}

.Recetas .box-container .box .fa-heart,
.Recetas .box-container .box .fa-eye {
    position: absolute;
    bottom: 1rem;
    background: var(--rosa);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.5em;
    color: var(--rosa_intenso);
    cursor: default;
}

.Recetas .box-container .box .fa-heart {
    right: 6rem;
}

.Recetas .box-container .box .fa-eye {
    left: 6rem;
}

.Recetas .box-container .box h3 {
    color: #000000;
    margin-top: 10px;
}

.Recetas .box-container .box .stars {
    padding: 1rem 0;
}

.Recetas .box-container .box .stars i {
    font-size: 10px;
    color: var(--rosa_intenso);
}

.Recetas .box-container .box span {
    color: #000000;
    font-weight: bolder;
    margin-right: 1rem;
}

.Recetas .box-container .box .hora,
.Recetas .box-container .box .calorias {
    display: inline-block;
}

.Precio .box_suscripsion .card-wapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin: auto;
    height: 100vh;
    padding: 2rem;
}
.Precio .box_suscripsion .card-wapper .info{
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background: #F8EFEAFF;
    box-shadow: -8px 0 10px -6px rgba(0, 0, 0, 0.2),
        0 8px 10px -6px rgba(0, 0, 0, 0.2),
        0 -8px 10px -6px rgba(0, 0, 0, 0.2);
    border-radius: 20px 0 0 20px;
    border: 1px solid var(--rosa);
    padding: 2rem;
}

.Precio .box_suscripsion .card-wapper .info .lista p {
    padding: 1rem 1.5rem;
    font-size: 15px;
    border-bottom: 1px solid #d5d5d5;
    color: var(--morado);
    font-weight: bold;
}


.Precio .box_suscripsion .card-wapper .planes1,
.Precio .box_suscripsion .card-wapper .planes2 {
    width: 10%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F8EFEAFF;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.2),
        0 -8px 10px -6px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0 0 0px;
    border: 1px solid var(--rosa);
    padding: 2rem;
    transform: all 0.2s ease-in;
    text-align: center;
}

.Precio .box_suscripsion .card-wapper .planes2 .recomendar {
    display: none;
}

.Precio .box_suscripsion .card-wapper .planes3 {
    height: 480px;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #F8EFEAFF;
    box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 0.2),
        0 8px 10px -6px rgba(0, 0, 0, 0.2),
        0 -8px 10px -6px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0 0 0px;
    border:1px solid var(--rosa);
    padding: 2rem;
    transform: all 0.2s ease-in;
}

.Precio .planes1 .detalles p,
.Precio .planes2 .detalles p,
.Precio .planes3 .detalles p {
    padding: .5rem 1rem;
    font-size: 15px;
    color: var(--verde);
    background: #fff;
    display: inline-block;
    margin: 1rem;
    border-radius: .5rem;
}

.Precio .planes1 .card-precio,
.Precio .planes2 .card-precio,
.Precio .planes3 .card-precio {
    display: flex;
    align-items: flex-start;
    margin: 1rem;
}

.Precio .planes1 .card-precio>p,
.Precio .planes2 .card-precio>p,
.Precio .planes3 .card-precio>p {
    font-size: 2rem;
    font-weight: 800;
}

.Precio .planes1 .card-precio>p>sup,
.Precio .planes2 .card-precio>p>sup,
.Precio .planes3 .card-precio>p>sup,
.Precio .planes1 .card-precio>p>sub,
.Precio .planes2 .card-precio>p>sub,
.Precio .planes3 .card-precio>p>sub {
    font-size: 1rem;
}

.Precio  .planes1 .btn_precio,
.Precio  .planes2 .btn_precio,
.Precio  .planes3 .btn_precio {
   padding: 0.6rem 3rem;
   border: 2px solid var(--rosa_intenso);
   background: #fff;
   color: var(--rosa_intenso);
   border-radius: 30px;
   cursor: pointer;
   transition: all 50ms ease-in;
   font-weight: bold;
   
}

.Precio  .planes1 .btn_precio:hover,
.Precio  .planes2 .btn_precio:hover,
.Precio  .planes3 .btn_precio:hover{
    color: #fff;
    background:var(--rosa_intenso);
}

.Precio .box_suscripsion .card-wapper .planes1:hover,
.Precio .box_suscripsion .card-wapper .planes2:hover,
.Precio .box_suscripsion .card-wapper .planes3:hover {
    transform: scale(1.1);
    border: 2px solid var(--rosa_intenso);
}

.Precio .box_suscripsion .card-wapper .planes2:hover .recomendar {
    display: block;
    animation: tambaleo 1s infinite;
    color: var(--rosa_intenso)
}


.footer-content{
    background: #BDE2D3FF;
    padding-bottom: 0.1px;
}

.footer-content .contactos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}
.footer-content .contactos .contacto-us{
    width: 40%;
    color: #331931;
}

.footer-content .contactos .contacto-us .marca{
    font-weight: 500;
    font-size: 40px;
}
.footer-content .contactos .contacto-us  p{
    font-weight: 500; 
    font-size: 15px;
}

.footer-content .contactos .social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.footer-content .contactos .social-media-icon{
display: inline-block;
margin-left: 20px;
width: 60px;
height: 60px;
border: 1px solid #fff;
border-radius: 50%;
text-align: center;
color: #fff;
}
.footer-content .contactos .social-media-icon:hover{
    background: #fff;
    color:#331931
}
.footer-content .contactos .social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.footer-content .linea{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}




@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    header .navegador {
        margin-left: 200px;
        margin-top: 30px;
    }

    section {
        padding: 2rem;
    }

    .Inicio .inicio-slider .slider .imagen img {
        margin-left: 150px;
    }

    .btn_comienza {
        margin-left: 400px;
        height: 25px;
        width: 150px;
        text-align: center;
    }

}

@media (max-width: 768px) {
    header .icono #Menu {
        display: inline-block;
    }

    header .navegador {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--rosa);
        border-top: var(--box-shadow);
        border-bottom: 1rem solid var(--box-shadow);
        padding: 1rem;
        margin-left: 0px;
        margin-top: 0px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navegador.activo {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navegador a {
        border-radius: 8px;
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #ffd6ee65;
    }

    header .navegador a.activo,
    header .navegador a:hover {
        color: #fff;
        background: var(--rosa_intenso);
        display: block;
    }

    section {
        font-size: 30%;
    }

    .Inicio .inicio-slider .slider .content h3 {
        font-size: 2rem;
    }

    .Inicio .inicio-slider .slider .content p {
        font-size: 1.5rem;
    }

    .Inicio .inicio-slider .slider .content span {
        font-size: 1.5rem;
    }

    .Inicio .inicio-slider .slider .imagen img {
        margin-right: 100px;
        margin-left: 10px;
    }

    .titulo_recetas {
        font-size: 20px;
    }

    .btn_comienza {
        margin-left: 20px;
        margin-top: 5px;
        display: inline-flexbox;
        padding: .5rem 0;
        line-height: 25px;
        text-align: center;
        font-size: 2rem;
    }

    .Recetas .box-container .box img {
        height: 200px;
        width: 240px;
    }

    .btn_recetas {
        margin-left: 100px;
    }


}

@media (max-width: 991px) {
    html {
        font-size: 50%;
    }

    .Recetas .box-container .box img {
        height: 200px;
        width: 240px;
    }

}