body{
    background-color: rgb(248, 239, 235);
}


.col-day{
    cursor: pointer;
}

.col-day:hover{
    color: rgb(255, 0, 59);
}

.radio-image{
    height: 1.5em;
}

.review-image{

    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}